[Unit]
Description=Limit Usage Xray Service
Documentation=SDCTunnel
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/xray/limit.shadowsocks
Restart=always

[Install]
WantedBy=multi-user.target
